.App {
  
}

.icon {
  height: 40px;
}
.icon-spinning {
  animation: App-logo-spin infinite 2s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}
.jumbotron {
  padding: 2rem 2rem !important;
}
ul.navbar-nav > li.nav-item > button {
  margin-right: 0.5em;
}

td.commit-msg {
  font-size: 0.8em;
  max-width: 10vw;
}

th.left-border, td.left-border {
  border-left: 1px #dee2e6 solid;
}

ul.nav > li.internal-link.nav-item > a {
  margin-right: 0.5em;
}