.App {
  
}

.icon {
  height: 40px;
}
.icon-spinning {
  animation: App-logo-spin infinite 2s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}
.jumbotron {
  padding: 2rem 2rem !important;
}
ul.navbar-nav > li.nav-item > button {
  margin-right: 0.5em;
}